@page
@model StDb2EFRP.Pages.Enroll.EnrollmModel

@{
   ViewData[ "Title" ] = "Enrollm";
}

<h1>Enrollm</h1>

<form name="f1" method="post" asp-page="Enrollm">
   <div class="container">
      <div class="col-md-2 row">
         <select asp-for="@Model.SelectedCourse" asp-items="@Model.CSList"></select>
      </div>
      <div id="grid">
      </div>
   </div>
</form>
@section Scripts{
   <script>
      $(function () {
         var cnum = encodeURIComponent($("#SelectedCourse").val());
         $("#grid").load('/Enroll/Enrollm?handler=EnrollPartial&cnum=' + cnum);
         $('#SelectedCourse').change(function () {
            var cnum = encodeURIComponent($("#SelectedCourse").val());
            $("#grid").load('/Enroll/Enrollm?handler=EnrollPartial&cnum=' + cnum);
         });
      });
   </script>
}
